* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

div#home div.ui-header, div#home div.ui-contents, div#home div.ui-footer {
  background: #ffffff !important;
  border: #ffffff 0px; }
div#home div.ui-header {
  padding-left: 1em; }
div#home div.ui-btn {
  margin: 0px !important;
  width: 100%;
  text-align: left; }
  div#home div.ui-btn option {
    text-align: left; }
div#home div.ui-select, div#home li.first-child, div#home .ui-body-inherit {
  margin: 0px !important;
  padding: 0px !important; }

div.ui-footer ul.ui-grid-b li a.ui-btn {
  width: 100%; }

.ui-li-desc {
  white-space: normal; }

div.actSummary {
  background: #ffffff; }

.ui-grid-a.ui-grid-3070 .ui-block-a {
  width: 30%; }
.ui-grid-a.ui-grid-3070 .ui-block-b {
  width: 70%; }

.ui-grid-a.ui-grid-7030 .ui-block-a {
  width: 70%; }
.ui-grid-a.ui-grid-7030 .ui-block-b {
  width: 30%; }

.ui-grid-b.ui-grid-602020 .ui-block-a {
  width: 60%; }
.ui-grid-b.ui-grid-602020 .ui-block-b {
  width: 20%; }
.ui-grid-b.ui-grid-602020 .ui-block-c {
  width: 20%; }

.wide-btn {
  width: 100%;
  display: block; }
