
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */

}

.ui-focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


h1 {
	font-size: x-large !important;
}

li, li *, a, a * {
	font-size: large !important;
}

div#welcome {

	div.ui-header {
		background: #ffffff !important;
		border: #ffffff 0px;
		padding-left: 1em;
	}

	div.ui-content, div.ui-footer {
		background: #ffffff !important;
		border: #ffffff 0px;
	}

	div.ui-content {
		padding-top: 2em;
	}

	div.ui-btn {
		margin: 0px !important;
		width:100%;
		text-align: left;

		option {
			text-align: left;
		}
	}

	div.ui-select, li.first-child, .ui-body-inherit{
		margin: 0px !important;
		padding: 0px !important;
	}
}


div.ui-footer, div.ui-panel {
	ul.ui-grid-b li a.ui-btn {
		width: 100%;
	}
	li, li *, a, a * {
		font-size: x-large !important;
	}
}


.ui-li-desc {
	white-space:normal;
}







