
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */

}


div#home {

	div.ui-header, div.ui-contents, div.ui-footer {
		background: #ffffff !important;
		border: #ffffff 0px;
	}
	div.ui-header {
		padding-left: 1em;
	}


	div.ui-btn {
		margin: 0px !important;
		width:100%;
		text-align: left;

		option {
			text-align: left;
		}
	}

	div.ui-select, li.first-child, .ui-body-inherit{
		margin: 0px !important;
		padding: 0px !important;
	}
}


div.ui-footer {
	ul.ui-grid-b li a.ui-btn {
		width: 100%;
	}
}


.ui-li-desc {
	white-space:normal;
}






