
div.actSummary {
	background: #ffffff;

}





.ui-grid-a.ui-grid-3070 {
	.ui-block-a {
		width:30%;
	}
	.ui-block-b {
		width:70%;
	}
}
.ui-grid-a.ui-grid-7030 {
	.ui-block-a {
		width:70%;
	}
	.ui-block-b {
		width:30%;
	}
}

.ui-grid-b.ui-grid-602020 {
	.ui-block-a {
		width:60%;
	}
	.ui-block-b {
		width:20%;
	}
	.ui-block-c {
		width:20%;
	}
}





.wide-btn {
	width: 100%;
	display: block;
}




