

.ui-grid-a.ui-grid-3070 {
	.ui-block-a {
		width:30%;
	}
	.ui-block-b {
		width:70%;
	}
}
.ui-grid-a.ui-grid-7030 {
	.ui-block-a {
		width:70%;
	}
	.ui-block-b {
		width:30%;
	}
}



.buttonSet {
    float:right;
    margin-top: -20px;
}
